<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>MVVM Bundle</string>
	<key>Summary</key>
	<string>View Model, View Cintroller classes</string>
	<key>DefaultCompletionName</key>
	<string>View</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Base Name:</string>
			<key>Description</key>
			<string>The name of the View Controller, ViewModel to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>MyView</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>interactorType</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Interactor:</string>
			<key>Description</key>
			<string>Default interactor to use</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>UserProfileInteractor</string>
		</dict>
	</array>
</dict>
</plist>
